{% extends 'base.html.twig' %}

{% block title %}Stoppuhr erkennung{% endblock %}

{% block body %}

<div>
    <div>
        <h1> Stoppuhr erkennung</h1>
    </div>
    {{ form_start(form, {
        'attr': {
            'class': 'image-form',
        }
    }) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
